	<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/blog.css">
    <section id="header" class="jumbotron text-center">
      <h1 class="display-3">Blog</h1>
      <p class="lead">Stay up to date on the challenges facing future medical students</p>
      <a href="" class="btn btn-info">All</a>
      <a href="" class="btn btn-info">Exam Skills</a>
      <a href="" class="btn btn-info">University Prep</a>
      <a href="" class="btn btn-info">Advice</a>
    </section>

<section id="blogCards">
      <div class="container">
        <div class="row">

          <div class="d-flex col-md-6 col-lg-4 justify-content-around">
            <div class="card">
              <img src="https://i.imgur.com/URKj9aw.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Should drugs be allowed in hospitals?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <a href="#" class="btn btn-info">Read more</a>
              </div>
            </div>
          </div>

          <div class="d-flex col-md-6 col-lg-4 justify-content-around">
            <div class="card">
              <img src="https://i.imgur.com/rEkuxso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fashion on a ward round</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <a href="#" class="btn btn-info">Read more</a>
            </div>
           </div>
          </div>
          
          <div class="d-flex col-md-6 col-lg-4 justify-content-around">
            <div class="card">
              <img src="https://i.imgur.com/JiAchOQ.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Should medical students read books?</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <a href="#" class="btn btn-info">Read more</a>
            </div>
           </div>
          </div>
        
        </div>
      </div>
    </section>


	<% include ./partials/footer %>
