	<% include ./partials/header %>

	<link rel="stylesheet" href="/stylesheets/landing.css">


<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>Medic Made</h1>
					<h4>Helping Aspiring Medics Succeed</h4>
					<hr align="right">
					<button type="button" class="btn btn-light">Get Started</button>
				</div>
			</div>
		</div>
	</div>


	<% include ./partials/footer %>
