form {
	width: 365px;
	margin: 80px auto;
	text-align: center;
}

#header {
	height: 40%;
	margin-top: 20px;
}

#comment {
	height: 100px;

}

#goBack {
	margin-top: 20px;
}



.btn-info {
	color: #FBFCFF;
	background-color: #61afb8;
	border-color: none;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
	margin: 20px 0px;
}
